
  .cr {
    width: 200px;
    position: absolute;
    text-align: center;
    color: #000000;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
  }
  
  .cr-sticky {
    position: fixed;
  }
  
  /* Positions */
  
  .cr-top    { top: 0px; }
  .cr-bottom { bottom: 25px; }
  .cr-left   { left: -50px; }
  .cr-right  { right: -50px; }
  
  /* Rotations */
  
  .cr-top.cr-left,
  .cr-bottom.cr-right {
    transform: rotate(-45deg);
  }
  
  .cr-top.cr-right,
  .cr-bottom.cr-left {
    transform: rotate(45deg);
  }
  
  /* Colors */
  
  .cr-ua      { background: linear-gradient(to bottom, rgb(0, 225, 255) 50%, rgb(255, 238, 0) 50%); }

  